<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.register.client}"></title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
<div th:replace="~{fragments/cabecalho :: cabecalho}"></div>

<h2 th:text="#{label.register.client}"></h2>

<div th:if="${mensagem}" class="mensagem-erro">
    <span th:text="${mensagem}"></span>
</div>

<form th:action="@{/clientes/salvar}" th:object="${cliente}" method="post">
    <div>
        <label for="nomeCompleto" th:text="#{label.full.name}"></label>
        <input type="text" id="nomeCompleto" th:field="*{nomeCompleto}" />
        <span th:if="${#fields.hasErrors('nomeCompleto')}" th:errors="*{nomeCompleto}" class="mensagem-erro"></span>
    </div>

    <div>
        <label for="endereco" th:text="#{label.address}"></label>
        <input type="text" id="endereco" th:field="*{endereco}" />
        <span th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}" class="mensagem-erro"></span>
    </div>

    <div>
        <label for="numeroCelular" th:text="#{label.phone.number}"></label>
        <input type="text" id="numeroCelular" th:field="*{numeroCelular}" />
        <span th:if="${#fields.hasErrors('numeroCelular')}" th:errors="*{numeroCelular}" class="mensagem-erro"></span>
    </div>

    <button type="submit" th:text="#{label.button.save}"></button>
</form>

<div th:replace="~{fragments/rodape :: rodape}"></div>
</body>
</html>