<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizzaria</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
<header th:fragment="cabecalho">
    <h1 th:text="#{label.system.title}"></h1>
    <nav>
        <a th:href="@{/clientes/inicio}" th:text="#{label.nav.home}"></a> |
        <a th:href="@{/clientes/novo}" th:text="#{label.nav.new.client}"></a> |
        <a th:href="@{/clientes/buscar}" th:text="#{label.nav.search.client}"></a> |
        <a th:href="@{/clientes/listar}" th:text="#{label.nav.list.clients}"></a> |
        <a th:href="@{/pedidos/novo}" th:text="#{label.nav.new.order}"></a> |
        <a th:href="@{/pedidos/listar}" th:text="#{label.nav.list.orders}"></a>
    </nav>
    <hr>
</header>
</body>
</html>